$app-bg : radial-gradient(at top right, #004584 0%, #0b1825 70%);

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}  

body {
    overflow-x: hidden;
    font-family: sora-medium;
}

.portlet-content-editable {
    padding: 0px !important;
    background: transparent !important;
}

.portlet-decorate .portlet-content {
    background: transparent !important;
    padding: 0px !important;
}

.portlet-title-editable, .portlet-title-text  {
    display: none !important;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 25px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}
 
.pointer {
    cursor: pointer;
} 