$app-bg : radial-gradient(at top right, #004584 0%, #0b1825 70%);

.header {
    background-image: $app-bg;

    .other-links {
        .portlet {
            margin-bottom: 0px;
        }
        .portlet-body {
            .form-group {
                margin-bottom: 0px;

                select.form-control {
                    background: transparent;
                    border: 0;
                    color: #fff;
                    text-transform: capitalize;

                    option {
                        color: #08243e;
                    }
                }
            }
        }
    }
}


nav {
    .nav-item {
        margin: 0 10px; 
    }

    .sign-in {
        a {
            background-image: radial-gradient(at top right, #004584 0%, #0b1825 70%);
            color: #fff;
            padding: 10px 15px;
            border-radius: 50px;
            text-decoration: none;
        }
    }

    .main-nav {
        color: #023c72;
    }

    li.selected {
        border-bottom: 2px solid #023c72;
    }
}

.main-nav:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.main-nav::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #204dda, #ff0075);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.mahaCyberNavTitle {
	padding: 0px 90px;
}

.mahaCyberNavHead {
	padding: 0px 90px;
}

