.login-card {
	 margin: 15%;
}

.login-slider .carousel-item img {
	 width: 500px;
	 height: 500px;
	 object-fit: contain;
}

.login-slider .carousel-indicators li {
    width: 15px !important;
    height: 15px !important;
    background-color: #6a72c2 !important;
    border-radius: 50% !important;
}
 